ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.nested.active li::before {
  content: '';
  position: absolute;
  left: -33px;
  top: 8px;
  width: 33px;
  height: 1px;
  background-color: black;
}

.nested.active li {
  position: relative;
}

.active {
  display: block;
}

li > ul {
  position: relative;
}

li > ul::before {
  content: '';
  position: absolute;
  left: 7px;
  top: -9px;
  width: 1px;
  height: 100%;
  background-color: black;
}
